# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore environment files
.env
.venv/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor folders
.vscode/
.idea/


# Ignore logs or outputs
*.log
